.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.operands{
  width: 300px;
  height: 20px;
  border: 1px solid black;
}

.output{
  width: 300px;
  height: 40px;
}

.buttons{
  display: flex;
  flex-wrap: wrap;
  height: 400px;
  width: 400px;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  
}
.button{
  width: 90px;
  height: 90px;
  margin: 2px;
}